extends layout.pug

block appContent
  title Cities 
  h2 All Cities
  // Add buttons for sorting
  form(action="/allCities", method="GET")
    button(type="submit" name="sort" value="asc") Sort by Population (Ascending)
    button(type="submit" name="sort" value="desc") Sort by Population (Descending)

  table(border=1)
    thead
      th ID
      th Country Code
      th Name
      th District 
      th Population
    tbody
      each row, i in rows
        tr
          td.fit
            a(href=`/allCities/${i + 1}`) #{i + 1}
          td.fit #{row.CountryCode}
          td #{row.Name}
          td #{row.District}
          - const population = new Intl.NumberFormat().format(row.Population);
          td.fit.number #{population}
