extends layout.pug
block appContent

  title Countries
  h2 All Countries 
  
  table(border=1)
    thead
      tr
        th Code
        th Name
        th Continent
        th Region
        th Surface Area 
        th Independance Year 
        th Population 
        th Life Expectancy 
        th GNP 
        th Old GNP 
        th Local Name 
        th Government Form 
        th Head of State 
        th Capital
        th Code 2
    tbody
      each row, i in rows 
        tr
          td #{row.Code}
          td #{row.Name}
          td #{row.Continent}
          td #{row.Region}
          td #{row.SurfaceArea}
          td #{row.IndepYear}
          td #{row.Population} 
          td #{row.LifeExpectancy} 
          td #{row.GNP} 
          td #{row.GNPOld} 
          td #{row.LocalName} 
          td #{row.GovernmentForm}
          td #{row.HeadOfState}
          td #{row.Capital}
          td #{row.Code2}